body{
    background-color: antiquewhite;
}
ul{
    width: 100px;
    height: 70px;
    background-color: chocolate;
    border-radius: 10px;
}
.to{
    font-size: 40px;
}
i:active + ul{
        transform: translatex(-100px);
}
ul{
    transition: all 0.5s ease-in;
}
