.box {
    width: 10rem;
    height: 10rem;
    background-color: rgb(148, 148, 148);
    color: white;
}

.content {
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    transition: 0.4s
}

.content:hover {
    border: 1rem solid rgba(0, 0, 255, 0.377);
}